
html, body {
    margin: 0;
    height: 100%;
    color: whitesmoke;
    
}
.load_screen{
     flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}  
.load_screen h2{
    padding-top: 40vh;
    padding-left: 80vh;
    position: relative;
    left:auto;
    right: auto;
    top:auto;
    bottom:auto;
}

 h2 {
  width: 22ch;

  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 2em;
  justify-content: center;
  color: white;
}